@media only screen and (max-device-width: 480px) {
  .movie-slider{
    min-width: 33%;
    max-width: 100%;
  }
}

body{
  background-color: lightgrey;
  
}

.movie-slider{
  background-color: rgb(255, 255, 255);
  width: 50%;
  border-radius: 0.6rem;    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.movie-category {
  color: gray;
  padding-left: 5px;
}

.movie-container {
  display: flex;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.movie-info {
 height: 50px;
 
}

.previous-button,
.next-button {
  position: absolute;
  border: none;
  display: flex;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
  cursor: pointer;
 
}

.previous-button {
  left: 10px;
  transform: rotate(180deg);
  height: 38px;
  
}

.next-button {
  right: 50%;
  padding-top: 10px;
}

.previous-button img,
.next-button img {
  opacity: 0.9;
  width: 25px;
 
}

.previous-button:hover img,
.next-button:hover img {
  opacity: 1;
}

ul,li{
    list-style: none;
    
    
}
a { 
  text-decoration: none; 
  color: black;

}

/* Style tab links */
.tablink {
  cursor: pointer;
  padding: 5px 12px;
  border-style: hidden;
  /* border-radius: 0.6rem;    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2), 0 5px 15px 0 rgba(0, 0, 0, 0.19); */
  box-shadow: inset 0px 0px 0px 0 rgb(0 0 0 / 20%), 0 5px 15px 0 rgb(0 0 0 / 19%);
}

.tablink:hover click {
  background-color: rgb(227, 227, 227);
 
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
  display: none;
  padding: 100px 20px;
  height: 100%;
}

.buttons {
  padding-bottom: 32px;
}

button:active :visited{
  border-style: hidden !important;
}